.botoncolor{
  border-radius: 50;
  background-color: #2A0A1B;
  color: #F8E0E6;
}

.botonfila{
  border-radius: 50;
  background-color: #0A122A;
  color: #CEE3F6;
}

table, td, th{
  border: 1px solid black;
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  /* width: 100%; */
}

button{
  cursor: pointer;
}
