.pointer, button, h1 {
    cursor: pointer;
}

.font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.bg-black {
    background-color: black;
    color: pink;
}

.button-styles {
    background-color: purple;
    border: none;
    border-radius: 25px;
    color: white;
}

.button-styles:hover {
    background-color: black;
    color: pink;
}

.button-inicio {
    background-color: rebeccapurple;
}

table, td, th {
    border: solid black 1px;
    border-collapse: collapse;
}

